<a class="btn btn-primary" href="/#/create/receipt"><span class="glyphicon glyphicon-plus"></span> Create Receipt</a>
<form>
  <div class="form-group searchbox"><input type="text" class="form-control" ng-model="searchFilter" placeholder="Search receipts"></div>
</form>
<dir-pagination-controls
  max-size="5"
  direction-links="true"
  boundary-links="true"
  on-page-change="pageChanged(newPageNumber)">
</dir-pagination-controls>
<table class="table table-striped">
  <thead>
    <th ng-click="sort('description')">description
      <span class="glyphicon sort-icon" ng-show="sortKey==='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
    </th>
    <th ng-click="sort('orderDate')">orderDate
      <span class="glyphicon sort-icon" ng-show="sortKey==='orderDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
    </th>
    <th ng-click="sort('payment')">payment
      <span class="glyphicon sort-icon" ng-show="sortKey==='payment'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
    </th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr ng-show="totalReceipts <= 0"><td colspan="5" style="text-align:center;">Loading new data!!</td></tr>
    <tr dir-paginate="receipt in receipts | itemsPerPage: receiptsPerPage | orderBy : sortKey : reverse | filter: searchFilter"  total-items="totalReceipts" current-page="pagination.current">
      <td><a ng-href="/#/receipt/{{ receipt._id }}">{{ receipt.description }}</a></td>
      <td>{{ receipt.orderDate  | utcToLocal:'yyyy-MM-dd - hh.mm a' }}</td>
      <td>${{ receipt.payment }}</td>
      <td>
        <div class="button-group">
          <a ng-href="/#/receipt/{{ receipt._id }}/edit" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
          <a ng-href="/#/receipt/{{ receipt._id }}/delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
